# Disable directory listing
Options -Indexes

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set Referrer-Policy "no-referrer-when-downgrade"
  Header set X-XSS-Protection "1; mode=block"
</IfModule>

AddDefaultCharset UTF-8
